body{
    background-color: rgb(186,195,237);
}
canvas{
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* 使用视口高度 */
    overflow: hidden;
    background: linear-gradient(45deg,rgb(172,138,224),rgb(200,251,251));
}